
<section class="locations">
  <h1>Locations</h1>
  <md-table>
    <md-table-row>
      <md-table-head md-numeric>ID</md-table-head>
      <md-table-head>Name</md-table-head>
      <md-table-head>Resume</md-table-head>
      <md-table-head>Street</md-table-head>
      <md-table-head>Position</md-table-head>
      <md-table-head></md-table-head>
    </md-table-row>

    <md-table-row v-for="item in locations" :key="item.name">
      <md-table-cell md-numeric></md-table-cell>
      <md-table-cell>{{item.name}}</md-table-cell>
      <md-table-cell>{{item.resume}}</md-table-cell>
      <md-table-cell>{{item.street}}</md-table-cell>
      <md-table-cell>lat: {{item.lat}}, lng: {{item.lon}}</md-table-cell>
      <md-table-cell>
        <md-button class="md-icon-button md-list-action">
          <md-icon class="md-primary">edit</md-icon>
        </md-button>
      </md-table-cell>
    </md-table-row>
  </md-table>
</section>

